{block #content}
  <div class="page-inner">
    <h1>{_'About ITIL simulator'}</h1>
    <p>{_'perpetual beta'}</p>

    <p class="prologue">Diplomová práce, FIT VUT v Brně, 2013</p>

    <div class="prologue">
      Petr Dvořák<br>
      xdvora64@stud.fit.vutbr.cz<br>
      <a href="http://petrdvorak.cz">petrdvorak.cz</a>
    </div>
  </div>
{/block}