{block #content}
  <div class="page-inner">
    <h1 class="title">{_'Edit configuration item'}</h1>
    <p><em>{_'Note: this configuration will affect all services which use this CI.'}</em></p><br>

    {snippet ciForm}
      {include './_form.latte'}
    {/snippet}
  </div>
{/block}
